
name: Generate ASCII ARTWORK

on:
  push:

jobs:
  ascii_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show working directory and files
        run: |
          pwd
          ls -al

      - name: Run ascii-script.sh from repo root
        run: |
          chmod +x ascii-script.sh
          ./ascii-script.sh
